<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to image_tag('filmgram.png', {:border => 0}), users_path %>
<% if current_user %>
	<%= link_to image_tag(current_user.icon), user_path(current_user.name) %>
	<%= current_user.id %>
	<%= link_to current_user.name, user_path(current_user.name) %>
	<%= link_to 'sign out', signout_path %>
<% else %>
	<%= link_to 'sign in', '/auth/twitter' %>
<% end %>

<hr>


<%= yield %>

</body>
</html>
